.loginform-container {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px transparent;
    object-fit: scale-down;
    margin-top: 0vw;
    background-image:
    url(../../images/Text\ Background.jpg);
    background-size: 100% 100%;
    object-fit: fill;
    height: 56vw;
    width: 100%;
    resize: both;
}

.heading {
    margin-top: 15vw;
}