.front img {
    object-fit: fill;
    width: 100%;
    height: 115%;
    position: absolute;
    z-index: -1;
    margin-top: -5vw;
}

.playground-container {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px transparent;
    object-fit: scale-down;
    margin-top: 0vw;
    background-image:
    url(../../images/Text\ Background\ 2.jpg);
    background-size: 100% 100%;
    object-fit: fill;
    height: 120vh;
    width: 100%;
    resize: both;
    position: relative;
}

.user-heading {
    position: absolute;
    margin-top: 20%;
    font-size: 2.5vw;
    margin-left: 12.5%;
    letter-spacing: 0.05em;
    font-family: 'Inter', sans-serif;
}

.user-heading > h1 {
    color: #0B3D89;
}

.book-form-container {
    position: relative;
    margin-top: 10vw;
    margin-left: 10vw;
}