.form,
.content {
  width: 70%;
}

.form-group {
  margin-bottom: 3%;
  justify-content: center;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 3%;
  border: solid #adc9ea;
  border-radius: 2%;
  margin-bottom: 3%;
  font-family: 'Inter';
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 1% 1%;
}

.btn {
  padding: 3% 3%;
  border: solid #fff;
  border-radius: 1%;
  background: rgb(50, 135, 221);
  color: #fff;
  font-size: 1vw;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.logout-wrap {
  position: relative;
  margin-top: 10vw;
  margin-left: 10vw;
}

.form-group-2 {
  margin-top: 10vw;
}