.timeline-container {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px transparent;
    object-fit: cover;
    margin-top: 0vw;
    background-image:
    url(../../images/Timeline\ Opening\ Page\ 3.jpg);
    background-size: 100% 100%;
    height: 54vw;
    width: 100%;
    resize: both;
}

.timeline-container > h1 {
    color: #FFFFFF;
    font-size: 7.5vw;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding-left: 57vw;
    margin-top: 35vw;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.05em;
}

.timeline-cards-container {
    width: 100%;
    position: relative;
    background: rgba(247, 237, 237, 0.6);
}

.dbbt {
    position: relative;
}

.bbt img {
    border-radius: 2%;
    padding: 2%;
    width: 27%;
    z-index: 998;
    position: relative;
    margin-left: 4.5%;
    margin-top: 3%;
}

.line-divider {
    height: 5vw;
}

.dbbt img {
    float: right;
    border-radius: 2%;
    padding: 2%;
    width: 27%;
    z-index: 998;
    position: relative;
    margin-right: 4%;
    margin-top: -18%;
}

.image-divider {
    height: 20vw;
    width: 100%;
    position: relative;
}

.side-key img {
    border-radius: 2%;
    padding: 2%;
    width: 12%;
    z-index: 998;
    position: relative;
    margin-left: 6%;
    margin-top: -122%;
}

@media (max-width: 500px) {
    .timeline-container {
        display: flex;
        flex-direction: column;
        box-shadow: inset 0 0 0 1000px transparent;
        object-fit: cover;
        margin-top: 0vw;
        background-image:
        url(../../images/Timeline\ Opening\ Page\ 3.jpg);
        background-size: 100% 100%;
        height: 54vw;
        width: 100%;
        resize: both;
    }
}