.cards {
  background: rgba(247, 237, 237, 0.6);
  position: static;
}

h1 {
    text-align: center;
}
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  
  .cards__wrapper {
    position: relative;
    height: 80vw;
  }

.b-wrap img {
  float: right;
  position: absolute;
  width: 45vw;
  margin-left: 50vw;
  margin-top: 17vw;
}
  
