/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 2vw;
    height: 1.5vw;
    right: 3vw;
    top: 3vw;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0B3D89;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #69BFF9;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 2vw;
    width: 2vw;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #0B3D89;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #D6ECF0;
    padding: 2em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #0B3D89;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: #0B3D89;
    margin-bottom: 2.5vw;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 1.7vw;
    font-family: 'Inter', sans-serif;
  }

  .bm-item:hover {
    color: #ffffff;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }